@media(max-width: 600px){
  .basket-name{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      font-size: 34px;
      color:rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
      margin: 50px 0;
    }
  }
  .choco-basket{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
      width:100px;
      height: 100px;
    }
    p{
      display:inline-block;
      margin: 0 2px;
      font-family: 'EB Garamond', serif;
    }
    button {
      width: 70px;
      height: 30px;
      color: lightgrey;
      background-color: rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
    }
    select{
      color: lightgrey;
      height: 20px;
      width:30px;
      background-color: rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
    }
    .price-box{
      color: lightgrey;
      border:1px solid rgb(79, 76, 69);
      background-color: rgb(79, 76, 69);
      width:150px;
      height:40px;
      display: none;
      text-align: center;;
      margin: 0 50px;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
    }
  }
}
@media(min-width: 600px){
  .basket-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
      font-size: 34px;
      color:rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
      margin: 50px 0;
    }
  }
  .choco-basket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width:150px;
      height: 150px;
      margin-right: 70px;
    }
    p{
      display:inline-block;
      margin: 0 50px;
      font-family: 'EB Garamond', serif;
    }
    button {
      width: 140px;
      height: 30px;
      color: lightgrey;
      background-color: rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
    }
    select{
      color: lightgrey;
      height: 20px;
      width:40px;
      background-color: rgb(79, 76, 69);
      margin-right: 20px;
      font-family: 'EB Garamond', serif;
    }
    .price-box{
      color: lightgrey;
      border:1px solid rgb(79, 76, 69);
      background-color: rgb(79, 76, 69);
      width:150px;
      height:30px;
      text-align: center;
      margin:50px 0;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
      display:none;
    }
  }
}