@media(min-width:600px){
  .shop-name{
    display: flex;
    justify-content: center;
    p{
      text-align: center;
      font-size: 34px;
      color:rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
      margin-top: 50px;
    }
  }
  .praline-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .praline{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 80px 80px;
      font-family: 'EB Garamond', serif;
      justify-content: center;
      img{
        width:150px;
        height: 150px;
      }
      .pralines-name{
        font-weight: 700;
      }
      p{
        font-size: 16px;
        color:rgb(79, 76, 69);
        margin-top: 5px;
        width:150px;
        text-align: center;
      }
      button{
        margin-top: 10px;
        width:150px;
        height:30px;
        color:lightgrey;
        background-color: rgb(79, 76, 69);
      }
    }
  }
}

@media(max-width:600px){
  .shop-name{
    display: flex;
    justify-content: center;
    p{
      text-align: center;
      margin-top: 30px;
      font-size: 34px;
      color:rgb(79, 76, 69);
      font-family: 'EB Garamond', serif;
    }
  }
  .praline-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .praline{
      margin: 40px 80px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-family: 'EB Garamond', serif;
      justify-content: center;
      img{
        width:140px;
        height: 140px;
      }
      .pralines-name{
        font-weight: 700;
      }
      p{
        font-size: 16px;
        color:rgb(79, 76, 69);
        margin-top: 5px;
        width:140px;
        text-align: center;
      }
      button{
        margin-top: 10px;
        width:140px;
        height:30px;
        color:lightgrey;
        background-color: rgb(79, 76, 69);
      }
    }
  }
}

