.shop-name{
  display: flex;
  justify-content: center;
  p{
    font-size: 34px;
    color:rgb(79, 76, 69);
    font-family: 'EB Garamond', serif;
    margin-top: 50px;
  }
}
.praline-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .praline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 80px 80px;
    font-family: 'EB Garamond', serif;
    justify-content: center;
    img{
      width:150px;
      height: 150px;
    }
    p{
      font-size: 16px;
      color:rgb(79, 76, 69);
      margin-top: 5px;
      width:150px;
      text-align: center;
    }
  }
}
